body{
    background-color: darkviolet;
    color: snow;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 30px;
    text-align: center;
    margin: 100px auto;
}

input, button{
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}
input{
    width: 250px;
}
